.App {
  text-align: center;
}

body {
  min-width: 100%;
  width: fit-content;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 10vh;
  max-width: 200%;
  background-color: rgb(28, 20, 76);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

#start {
  text-decoration: none;
  color: black;
}

.pokemonList {
  display: grid;
  justify-content: flex-start;
  grid-auto-flow: column;
  background-color: white;
  gap: 50px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 20px;
  top: 0;
  right: 0;
}

#background {
  height: 200vh;
  width: auto;
}

#pokemon {
  display: none;
  position: absolute;
  z-index: 1;
}

#pikachu, #munchlax, #espeon {
  display: none;
  color: red;
}
.leaders {
  display: grid;
  justify-content: center;
}
.leader {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
}

.player {
  min-width: 25ch;
  display: grid;
  justify-content: flex-start;
}
