.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 10vh;
  background-color: rgb(28, 20, 76);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

#background {
  height: 150vh;
}
