.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 151%;
  min-height: 10vh;
  background-color: rgb(28, 20, 76);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-right: 50px;
}

.pokemonList {
  display: grid;
  justify-content: flex-start;
  grid-auto-flow: column;
  background-color: white;
  width: 151%;
  gap: 50px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  padding: 20px;
  top: 0;
  right: 0;
}

#background {
  height: 150vh;
}

#pokemon {
  display: none;
  position: absolute;
  z-index: 1;
}

#pikachu, #munchlax, #espeon {
  color: red;
}
